#root {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background: url("./images/dota2.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.nav {
  background: #444444;
}

.homepagehero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.herohead {
  background: #fff0f5;
}
.overallhero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.eachhero:hover {
  background: #008080;
}

.nav-item {
  font-size: 25px;
  color: black;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.nav-item:hover {
  background: #008080;
}

.recommend-item {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: #f4f4f4;
}

.startitem,
.earlyitem,
.middleitem,
.lateitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.startheader,
.earlyheader,
.middleheader,
.lateheader {
  display: block;
}

.start {
  background: yellow;
  border-radius: 20px;
}

.early {
  background: cyan;
  border-radius: 20px;
}

.middle {
  background: springgreen;
  border-radius: 20px;
}
.late {
  background: tomato;
  border-radius: 20px;
}

.herogeneral {
  background: lightgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  border-radius: 15px;
  font-weight: bold;
}

.heroname {
  font-size: 40px;
  margin: 0px;
}

.herodes {
  font-size: 20px;
  background: lightgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 15px;
}
.itemhead {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.itemlist {
  display: block;
  margin: 0 0 0 0;
  background: #b0c4de;
}

.ind-list {
  background: #f4f4f4;
}

.ind-item {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

.itemspec {
  font-size: 20px;
  background: lightgray;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.MuiTooltip-tooltip {
  font-size: 20px !important;
  color: #f4f4f4 !important;
  background: #20b2aa !important;
  font-style: italic;
}

.randomhero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
